
/**
 * @file
 * This sheet doesn't satisfy all linting rules. It should be rejected.
 */

a:link{
	color: gray;
}
a:visited {
	color: green;
	text-decoration: none
}
a:hover,
a:active {
	color: purple;
}
